In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('customer_data.csv')
df

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0
5         1006   27      F  pqr@example.com        NaN
6         1007   50      M  stu@example.com       12.0
7         1008   29      F  vwx@example.com        7.0
8         1009   38      F  yza@example.com        9.0

In [5]:
# Remove duplicates (if any)
df.drop_duplicates(subset=['customer_id'], inplace=True)

In [6]:
# Handling missing values (if any)
# For example, if there are missing values in the 'gender' column, we can fill them with a default value like 'Unknown':
df['gender'].fillna('Unknown', inplace=True)

In [7]:
# The average number of purchases for each gender
average_purchases_by_gender = df.groupby('gender')['purchases'].mean()

# Step 5: Print or use the results
print(average_purchases_by_gender)

gender
F     7.00
M    11.25
Name: purchases, dtype: float64